aioredis==1.3.1
amqp==5.1.0
asgiref==3.5.0
async-timeout==4.0.2
attrs==21.4.0
autobahn==22.2.2
Automat==20.2.0
backports.zoneinfo==0.2.1
billiard==3.6.4.0
celery~=4.4.7
certifi==2021.10.8
cffi==1.15.0
channels==3.0.4
channels-redis==3.3.1
charset-normalizer==2.0.12
click==8.0.4
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
constantly==15.1.0
cryptography==36.0.1
daphne==3.0.2
Deprecated==1.2.13
dj-database-url==0.5.0
Django==4.0
django-heroku==0.3.1
docker==5.0.3
Flask==2.0.3
gunicorn==20.1.0
hiredis==2.0.0
hyperlink==21.0.0
idna==3.3
incremental==21.3.0
itsdangerous==2.1.1
Jinja2==3.0.3
kombu==5.2.4
MarkupSafe==2.1.1
msgpack==1.0.3
mysqlclient==2.1.0
packaging==21.3
prompt-toolkit==3.0.28
psycopg2==2.9.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
PyMySQL==1.0.2
pyOpenSSL==22.0.0
pyparsing==3.0.7
pytz==2021.3
redis==4.1.4
requests==2.27.1
service-identity==21.1.0
six==1.16.0
sqlparse==0.4.2
Twisted==22.1.0
txaio==22.2.1
typing-extensions==4.1.1
urllib3==1.26.8
vine==5.0.0
wcwidth==0.2.5
websocket-client==1.3.1
Werkzeug==2.0.3
whitenoise==6.0.0
wrapt==1.14.0
zope.interface==5.4.0

pdfx~=1.3.0
WeasyPrint~=51
PyPDF2~=1.26.0
fpdf~=1.7.2